@import "compass";
@import "susy";
@import "mixins";


body {
  background-color: #f2f2f2;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    font-weight: bold;

  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

input {
  width: 600px;
  height: 35px;
  @include border-radius(5px);
  font-size: 1.3em;
}

.dashboard_button {
  width: 200px;
  height: 30px;
  background-color: green;
  color: white;
  @include border-radius(5px);
  margin-bottom: 15px;
  margin-top: 15px;

  a {
    padding-left: 30px;
    color:white;
    font-size: 1.2em;
    text-decoration: none;
    line-height: 30px;
  }
}//dashboard button

table {
  @include alternating-rows-and-columns(#eee, #ddd,#000);

  tr {

  }

  td,th  {
    height: 30px;
    min-height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1em;
  }
}//table


.dropdown {
  width: 600px;
  height: 35px;
  overflow: hidden;
  border: 1px solid #ccc;
  @include border-radius(5px);

  select {
    border: none;
    width: inherit;
    height: inherit;
    font-size: 1.3em;
  }
}//dropdown


.button {


}

.grey-button {
  color:white;
  @include background-image(linear-gradient(#4b4b4b,#808080));
  min-height: 20px;
  margin-top: 20px;

}